body {
  max-width: 1000px;
  font-size:16px;
  font-family:"Open Sans",Arial,sans-serif;
  color:#444;
  margin: auto;
}


/* nav */
nav {
  height: auto;
}

/* nav logo*/
nav .logo {
  max-width: 140px;

}

/* nav menu*/

nav .menu {
  display: flex;
  padding: 0;
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
}

nav .menu li {
  float: left;
}

nav .menu li a {
  display: block;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

nav .menu li a:hover {
    color: orangered;
}

nav .basket {
  max-width: 40px;
  padding: 23px 15px;
}


/* main */
main .main {
  display: flex;
}

/* Aside nav */
aside {
  width: 200px;
  background-color: lightyellow;
}
aside h4 {
  background-color: orangered;
  color:aliceblue;
  margin: 0;
  padding: 30px;
  font-size: 18px;
}
aside ul {
  list-style-type: none;
}
aside ul li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  line-height: 40px;
}

aside ul li a:hover {
  color: brown;
}

/* Products*/
.content .banner {
  display: flex;
  background-image: url(../img/banner.jpg);
  height: 250px;
  background-position: center;
}
.content h2 {
  text-align: center;
}

.product {
  box-shadow: 5px 5px 20px lightgray;


}
.product .box {
  width: 250px;
  height: 200px;
}

main .product img{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

main .product .product-buttons{
    display: flex;
    justify-content: space-around;
}

@media (min-width: 600px) {
    main .product-list{
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 20px;
    }
}

@media (min-width: 900px) {
    main .product-list {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (min-width: 980px) {
    main .product-list {
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

/* Partner */
.partner {
    margin: 0;
    padding: 70px;
}

.partner h2 {
  text-align: center;
}

.partner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.partner img {
    max-width: 150px;
}


@media (min-width: 600px) {
    .partner ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  ;
        grid-gap: 5px;
    }
}

@media (min-width: 900px) {
    .partner ul{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

@media (min-width: 980px) {
    .partner ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    }
}

/* Contacts */
.contact .grid {
    display: flex;
}
.contact h2 {
    text-align: center;
}
.contact ul {
    margin: 0;
    padding: 70px;
    list-style-type: none;
}

.contact ul li {
  display: block;
  text-align: center;
  padding: 0px 50px;
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

.contact ul li a{
  text-decoration: none;
  color: orangered;
}

@media (min-width: 600px) {
    .contact ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 900px) {
    .contact ul{
        grid-template-columns: 1fr 1fr ;
    }
}

@media (min-width: 980px) {
    .contact ul {
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

/* Footer */
